{
  "root": true,
  "extends": ["eslint:recommended", "plugin:react/recommended"],
  "parserOptions": {
    "ecmaVersion": 2017,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true,
      "impliedStrict": true,
      "experimentalObjectRestSpread": true,
      "modules": true
    }
  },
  "plugins": ["react"],
  "rules": {
    "semi": 2,
    "no-param-reassign": 1,
    "eqeqeq": 1,
    "quotes": [2, "single"],
    "indent": [2, "spaces"],
    "react/react-in-jsx-scope": 0,
    "react/prop-types": 0,
    "jsx-quotes": [2, "prefer-double"]
  },
  "env": {
    "es6": true,
    "browser": true,
    "node": true
  }
}
