.footer {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height: 80px;
	color:#0e426d;
	text-align: center;
	background-image: url(./images/bg-header.jpg);
}

.footer-copyright-text {
	font-size: 1rem;
}

@media screen and (min-width: 768px) {
	.footer {
		height: 60px;
	}

	.footer-copyright-text {
		font-size: 1.6rem;
	}

	.footer-contact {
		position: absolute;
		right: 20px;
	}
}
