.img-bg-header {
	background: url("../../../public/images/header-background.png") center center fixed;
	min-height: 600px;
	// height: 100vh;
}

.btn-custom {
	border-radius: 50px;
  background: transparent;
  padding: 20px 30px;
  min-width: 170px;
  border: 2px solid #fff;
  font-size: 14px;
	font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 4px;
  color: #fff;

	&:hover,
	&:focus {
		background-color: #fff;
		color: #0e426d;
	}
}

.title {
	font-size: 65px;
	font-weight: 600;
	margin: 0;
	line-height: 70px;
}

.sub-title {
	font-size: 24px;
  font-weight: 300;
  margin: 20px 0 30px;
	font-family: 'Open Sans', sans-serif;
}

// VIDEO COMPONENT VERSION 2
.btn-player {
  position: relative;
  border: none;
  padding: 30px 90px;
  background-color: transparent;
  transition: padding .5s;
}

.btn-player:hover,
.btn-player:focus {
  cursor: pointer;
  padding: 30px 95px;
}
.btn-player:hover:before,
.btn-player:focus:before {
  background-color: rgba(0,0,0,.3);
}

.btn-player:before {
  position: absolute;
  display: block;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content:"";
  background-color: rgba(0,0,0,.2);
  border-radius: 20px;
  transition: background-color .5s;
}

.btn-player:after {
  position: absolute;
  display: block;
  top: 40%;
  left: 45%;
  width: 0;
  height: 0;
  border: 30px solid transparent;
  border-left-color: rgba(255, 255, 255, 0.55);
  content:"";
}

.btn-demo {
	font-size: 19px;
	line-height: 15px;
	padding-top: 0px;
	padding-bottom: 0px;
	color: #ffffff;
	padding-left: 18px;
	padding-right: 18px;
	border-radius: 4px;
	border: 0px;
	background: $btn-blue;
	margin: 12px;
	margin-left: 16px;
	height: 48px;
	white-space: nowrap;
}