.btn-custom {
	border-radius: 50px;
  background: transparent;
  padding: 20px 30px;
  min-width: 170px;
  border: 2px solid #fff;
  font-size: 14px;
	font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 4px;
  color: #fff;

	&:hover,
	&:focus {
		background-color: #fff;
		color: #0e426d;
		cursor: pointer;
	}
}

.title {
	font-size: 50px;
	font-weight: 600;
	margin: 0;
	line-height: 70px;
}

.sub-title {
	font-size: 24px;
  font-weight: 300;
  margin: 20px 0 30px;
	font-family: 'Open Sans', sans-serif;
}

.modal-title {
	font-size: 20px;
	font-family: 'Open Sans', sans-serif;
}

/* Background Header */
.img-bg-header {
	margin-top: -80px;
	background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../../../public/images/bg-header.jpg") center center;
	background-size: 100%;
	max-height: 800px;
	height: 100vh;
}