/***** CSS RESET ******/

button:focus {outline:0;}

/*****/

.highlight-1 {
  color: #d73a49;
}

.highlight-2 {
  color: #005cc5;
}

.highlight-3 {
  color: #6f42c1;
}

/* Background Header */
.img-bg-header {
	background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("./images/bg-header.jpg") center center;
	background-size: 150%;
	max-height: 800px;
	height: 100vh;
}