.spacing-1x {
	padding: 100px 0;
}

.spacing-2x {
	padding: 200px 0;
}

// .full-height {
// 	height: 100vh;
// 	min-height: 700px;
// }

.stripe-1 {
	position: relative;
}

.stripe-1:before {
	position: absolute;
	display: block;
	height: 130px;
	top: -60px;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 10;
	 content:"";
	 transform: skewY(3deg);
	 background-color: white;
}

.stripe-2 {
	position: relative;
}

.stripe-2:after {
	position: absolute;
	display: block;
	height: 130px;
	top: -80px;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 10;
	 content:"";
	 transform: skewY(3deg);
	 background-color: white;
}