// General styling
// body {
// 	font-family: 'Open Sans', sans-serif;
// }

.section-title {
	color: #2a3b71;
	text-transform: uppercase;
	font-size: 40px;
	font-weight: 300;
	letter-spacing: 5px;
}

.section-title-light {
	color: #fff;
	text-transform: uppercase;
	font-size: 40px;
	font-weight: 300;
	letter-spacing: 5px;
}

.section-subtitle {
	color: #2a3b71;
  font-weight: 400;
  line-height: 30px;
  font-size: 18px;
}

.section-subtitle-light {
	color: #fff;
  font-weight: 400;
  line-height: 30px;
	letter-spacing: 3px;
	font-family: 'Open Sans', sans-serif;
  font-size: 25px;
}

.table-title {
	color: #fff;
  font-weight: 400;
  line-height: 30px;
  font-size: 24px;
}

.section-text {
	color: #2a3b71;
  font-weight: 400;
  line-height: 30px;
  font-size: 16px;
}
.section-text  {
	color: #2a3b71;
  font-weight: 400;
  line-height: 30px;
	font-size: 14px;
}
.section-text-light {
	color: #fff;
  font-weight: 400;
  line-height: 30px;
  font-size: 18px;
	letter-spacing: 1px;
	font-family: 'Open Sans', sans-serif;
}
.description-btn {
	color: #2a3b71;
  font-weight: 400;
  line-height: 30px;
  font-size: 25px;
}

.text-white {
	color: #fff;
}